* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
:root {
  --lite-gray: #f0f1f4;
  --label-width: 120px;
  --sb-theme-color: #3080e8;
  --sb-conent-bg: #fcf9f8;
  --sb-corner-radius: 12px;
  --sb-padding: 16px;
  --sb-border-color-thin: #f0f1f4;
}
