* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

:root {
  --lite-gray: #f0f1f4;
  --label-width: 120px;
  --sb-theme-color: #3080e8;
  --sb-conent-bg: #fcf9f8;
  --sb-corner-radius: 12px;
  --sb-padding: 16px;
  --sb-border-color-thin: #f0f1f4;
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  padding: 8px;
}

.flex-row {
  display: flex;
  gap: 25px;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

button:hover {
  filter: brightness(1.1);
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.3s ease;
}

button:focus-visible,
button:focus {
  outline: none;
}

button {
  cursor: pointer;
}

button.sb-button {
  border-radius: var(--sb-corner-radius);
  color: white;
  background-color: var(--sb-theme-color);
  padding: 10px;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  border: none;
  white-space: nowrap;
}

button:active,
.clickable:active,
.clickable {
  filter: brightness(0.9);
  transform: scale(0.98);
}
